@charset "UTF-8";

@font-face {
    font-family: GradoGradooNF;
    src: url(../Fonts/GradoGradooNF.ttf);
}

* {
    box-sizing: border-box;
}

:root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
}

html {
}

body {
    background-color: #ddebd4;
}

.container {
    background-color: #ddebd4;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-family: GradoGradooNF;
    display: block;
}

.row {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: inline-block
}

    .row.blockDisplay {
        display: block;
    }

.column_half {
    width: 50%;
    float: left;
    margin-top: 0px;
}

.columns {
    width: 25%;
    float: left;
    font-family: inherit;
    color: #A5A5A5;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.row .columns p {
    padding-left: 10%;
    padding-right: 10%;
}

.container .columns h4 {
    text-align: center;
    color: #01B2D1;
}

.primary_header {
    width: 100%;
    background-color: #dea17c;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: left;
    border-bottom: 2px solid #9a4e30;
}

.mini_header {
    background-color: #dea17c;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 33.3%;
    margin-right: 33.3%;
    clear: left;
    border-bottom: 2px solid #9a4e30;
}

.title {
    font-weight: bold;
    font-style: normal;
    font-family: inherit;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.number_text {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-family: inherit;
    text-align: center;
    color: #000000;
    letter-spacing: 2px;
}

.image_text {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-family: inherit;
    text-align: center;
    color: #000000;
    letter-spacing: 2px;
}

.nav-link a:visited {
    color: #FFFFFF;
}

.secondary_header {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #70867f;
    clear: left;
}

.container .secondary_header ul {
    margin-top: 0%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    width: 100%;
}

.secondary_header ul li {
    list-style: none;
    float: left;
    margin-right: auto;
    margin-top: 0px;
    font-family: inherit;
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-left: auto;
    text-align: center;
    width: 16%;
    transition: all 0.3s linear;
}

    .secondary_header ul li:hover {
        color: #717070;
        cursor: pointer;
    }

.about_text {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-family: inherit;
    text-align: center;
    color: #000000;
    letter-spacing: 2px;
    margin-left: 20%;
    margin-right: 20%;
}

#reservation {
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: inherit;
    border: 1px solid #aaaaaa;
}

    input:valid {
        border: 1px solid #aaaaaa;
    }

    input:invalid {
        border: 2px dashed red;
    }

#submit button {
    position: center;
}

.icon_container {
    text-align: center;
}

.mainMenu {
    text-align: center;
}

.kidsMenu {
    text-align: center;
}

.dessertMenu {
    text-align: center;
}

.xmasMenu {
    text-align: center;
}

.menus {
    font-size: 40px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    font-size: 25px;
}

    table.hours {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

button.login-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
    padding: 1em 2em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}



    button.login-btn::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--colorShadeC);
        border-radius: inherit;
        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
        transform: translate3d(0, 0.75em, -1em);
        transition: all 175ms cubic-bezier(0, 0, 1, 1);
    }


    button.login-btn:hover {
        background: var(--colorShadeD);
        transform: translate(0, 0.375em);
    }

        button.login-btn:hover::before {
            transform: translate3d(0, 0.75em, -1em);
        }

    button.login-btn:active {
        transform: translate(0em, 0.75em);
    }

        button.login-btn:active::before {
            transform: translate3d(0, 0, -1em);
            box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
        }

* {
    box-sizing: border-box
}

#scroll_container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@font-face {
    font-family: GradoGradooNF;
    src: url(../Fonts/GradoGradooNF.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Grado Gradoo NF';
}

.admin {
    background-color: #0C141D; /*#162435;*/ /*162447*/
    height: 100%;
    width: 100%;
    margin-right: 0px;
    border-bottom-width: 0px;
    padding-left: 50px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-family: GradoGradooNF;
}

.edit {
    background-color: #OC141D; /* */ /*162447*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-family: GradoGradooNF;
}

.bookings {
    background-color: #OC141D; /* */ /*162447*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-family: GradoGradooNF;
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1F4068; /*#494953;*/
    overflow-x: hidden;
    padding-top: 50px;
}

    .sidenav a {
        color: white;
        padding: 16px;
        text-decoration: none;
        display: block;
    }

        .sidenav a:hover {
            background-color: #ddd;
            color: black;
        }

.content {
    margin-left: 200px;
    padding-left: 20px;
    color: white;
    height: 100%;
}

form {
    border: 3px solid #F1F1F1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
}

button.originalbtn {
    background-color: #4CAF50;
    color: white;
    padding: 20px 20px;
    margin: 150px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-family: inherit;
    font-size: 40px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: GradoGradooNF;
}

    button:hover {
        opacity: 0.8;
    }

    button.login-btn {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.tab {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 100%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 80px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

table {
    max-width: 100%;
}

th {
    background-color: #555;
    color: #fff;
}

th,
td {
    text-align: left;
    padding: 0.5em 1em;
}

    td::before {
        display: none;
    }

@media screen and (max-width: 680px) {
    table {
        border: 0;
        display: block;
        box-shadow: none;
    }

    thead {
        position: absolute;
        opacity: 0;
    }

    tbody {
        display: block;
        width: 100%;
        min-width: 19em;
        max-width: 25em;
    }

    td {
        display: contents;
    }

        td::before {
            display: inline-block;
            font-weight: bold;
            padding: 0.5em;
            border-bottom: 1px solid;
        }

        td span {
            padding: 0.5em;
            border-bottom: 1px solid;
        }

        td:last-child {
            border-bottom: 0;
        }
}

.editHours {
    width: 100%;
}
